.Comments{
  display: flex;
  flex-direction: column;
  font-family: "Story Script",sans-serif;
}
.Comments div{
  /* background: url(../public/chairman.png) no-repeat ;
  background-size: contain; */
  margin: 3% auto;
  border: 2px black solid;
  padding: 50px;
  background-color: whitesmoke;
  width: 40%;
  color: black;
  border-radius: 20px;
  letter-spacing: 2px;
  line-height: 40px;
  box-shadow: 6px 8px 5px black ;
}
.Comment h2{
  text-align: right;
  font-size: 17px;
  color: brown;
}
@media screen and (min-width:675px) and (max-width:770px){
    .Comments div{
    font-size: 12px;
    padding: 30px;
    width: 60%;
  }
}

@media screen and (min-width:300px) and (max-width:675px){
  .Comments div{
    font-size: 12px;
    padding: 15px;
    width: 60%;
  }
}